# Node
node_modules/

# Next.js
.next/
.next/**
.next/server/
.next/server/**

.env
.env.*
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
out/
dist/

# TypeScript
*.tsbuildinfo

# Imagens temporárias
*.png
*.jpg
*.jpeg
*.gif
*.svg

# Outros
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/fallback-build-manifest.json
.next/build-manifest.json
.next/app-build-manifest.json
